{# templates/stats.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Survarium Weapons{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/vendor/DataTables/datatables.min.css"/>
{% endblock %}
{% block body %}
    <h1>Survarium 0.61 Weapons Stats </h1>
    <h3>Work in Progress</h3>
    <div style="background-color: #CCC;">
        <div>
            <table id='weaponsStats'>
                <thead style="font-weight: bold;">
                <tr class="row100 head">
                    {% for key, value in weapons[0]|cast_to_array %}
                        {% if key != 'id' %}
                            <th class="cell100 columnHeader {% if key == 'Sample TimeToKill' %}border1px{% endif %} ">{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for weapon in weapons %}
                    <tr class="row100 body">
                        {% for stat, value in weapon|cast_to_array %}
                            {% if stat != 'id' %}
                                <td class="cell100 column  {% if stat == 'Sample TimeToKill' %}border1px{% endif %}"
                                    id="col">{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot style="font-weight: bold;">
                <tr class="row100 head">
                    {% for key, value in weapons[0]|cast_to_array %}
                        {% if key != 'id' %}
                            <td class="cell100 columnHeader {% if key == 'Sample TimeToKill' %}border1px{% endif %}">{{ key }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
        <span style='font-weight: bold;'>
			{{ message }}
		</span>
        <span style='font-weight: bold;color: red;'>
			CURRENTLY NOT WORKING
		</span>
        <div class="row">
            <div style="width: 500px;" class="container">
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_label(form.version, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.version, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.equipment, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.equipment, {'attr': {'class': 'form-control select2JS'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        {{ form_label(form.onyxPass, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.onyxPass, {'attr': {'class': 'form-number'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.onyxAct, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.onyxAct, {'attr': {'class': 'form-number'}}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.bonusArmor, null, {'attr': {'class': 'sr-only'}}) }}
                        {{ form_widget(form.bonusArmor, {'attr': {'class': 'form-number'}}) }}
                    </div>
                    <div class="col">
                    {{ form_label(form.range, null, {'attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.range, {'attr': {'class': 'form-number'}}) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.save, { 'label': 'SAVE', 'attr': {'class': 'saveMarging btn btn-secondary'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript">

            function defer(method) {
                if (window.jQuery) {
                    method();
                } else {
                    setTimeout(function () {
                        defer(method)
                    }, 50);
                }
            }

            defer(function () {
                if ($.fn.dataTable.isDataTable('#weaponsStats')) {
                    table = $('#weaponsStats').DataTable();
                } else {
                    table = $('#weaponsStats').DataTable({
                        select: true,
                        initComplete: function () {
                            this.api().columns().every(function () {
                                var collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});
                                var column = this;
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort(collator.compare).each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                            });
                        }
                    });
                    //$('#toDelete select').width(170);
                    //$('#toDelete select').css("visibility", "hidden");
                }
            });
        </script>
    {% endblock %}
{% endblock %}